body 
{
    color: #333;
    font-family: helvetica;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.6em;
    background: #f3f3f3;
}
  
.container
{
    margin: 10rem auto;
    max-width: 800px;
    padding: 6rem;
    background: #001546;
}
  
.back-to-top 
{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    background: tomato;
    color: white;
    padding: 0.3rem 1rem;
    transition: all 0.5s linear;
    cursor: pointer;
    opacity: 0.3;
}
  
.back-to-top:hover {
    opacity: 1;
}

.checkbox-recordar {
    color: white;
}

.caja-pequena{
    
    margin: 1rem auto;
    max-width: 500px;
    background: #001546;
}